# =========================
# GCP Configuration
# =========================
PROJECT_ID=my-project-xxxxx
REGION=us-east1

SERVICE_ACCOUNT=write-your-service-account-id

CSV_FILE_PATH=gs://dataproc-metastore-public-binaries/asset_price_forecast/asset_price_forecast.csv

# =========================
# Iceberg Configuration
# =========================
ICEBERG_CATALOG=biglake
ICEBERG_SCHEMA=finance
ICEBERG_TABLE=asset_prices
ICEBERG_WAREHOUSE=gs://name-your-bucket/iceberg/

# =========================
# Forecast Config
# =========================
MODEL_NAME=prophet
FORECAST_HORIZON_DAYS=30